.App {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 300px;
  height: 500px;
  background-color: rgb(243, 229, 75);
  box-shadow: 5px 5px 5px grey;
  border-radius: 4px;
}

h1 {
  text-decoration: underline;
}
section {
  position: relative;
  height: 80%;
}

.add-list {
  position: absolute;
  bottom: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

section input {
  width: 160px;
  margin-right: 0.5rem;
}

ul {
  text-align: left;
  list-style: none;
  padding: 0 0.5rem;
}

li {
  margin: 0.5rem;
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}

li button {
  font-weight: bold;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1rem;
}

.tick {
  background-color: rgb(38, 194, 38);
}

.tick:hover {
  background-color: rgb(48, 110, 12);
}
li button:hover {
  background-color: rgb(126, 17, 17);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.add-list button {
  font-size: x-small;
  background-color: rgb(102, 255, 0);
  border: 1px solid black;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}

.add-list button:hover {
  background-color: rgb(3, 126, 3);
}

.add-list input {
  border-color: black;
}
